a {
  color: rgb(82, 78, 78);
  font-weight: bold;
}

a, a:visited  { color: white; }
a:hover, a:focus { color: #11ABB0; }

.port-img {
  position: relative;
  width: 250px;
  height: 150px;
  /* border-radius: 100%; */
}

.port-img-col {
  float: right;
  padding-left: 20rem;
  margin-top: 5%;
}

.main-col { 
    padding-right: 8%; 
    padding-left: 2%;
}

.description {
  /* font: 16px/24px 'librebaskerville-italic', serif; */
  color: #283642;
  margin-bottom: 18px;
  margin-top: 9px;
}

.description span {
  margin-right: 5px;
  margin-left: 5px;
}


@media only screen and (max-width: 900px) {
    .port-img-col {
      justify-content: center;
    }
    .port-img {
     width: 200px;
     height: 114px;
  }
}

@media only screen and (max-width: 767px) {

  /* .profile-pic { display: none; } */
  .main-col { padding-right: 30px; }
}





