#hi {
    color: rgb(160, 153, 92);
    font-size: 65px;
 }

 #sub-hi {
    color:#7A7A7A;
 }

 .hi {
    padding-bottom: 1rem;
 }

 .sub-hi {
    padding-left: 8rem;
    padding-bottom: 4rem;
 }

 a {
   color: rgb(82, 78, 78);
   font-weight: bold;
 }
 
  a { color: white; }
  a:hover, a:focus { color: #11ABB0; }

 h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-bottom: 12px;
 }

 p {
    line-height: 30px;
    color: #7A7A7A;
 }

 .links {
    padding-left: 0.75%;
    float: right;
 }

 .social {
   padding: 0;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.social li {
   display: inline-block;
   margin: 0 8px;
   padding: 0px;
   font-weight: lighter;
}
.social li a { color: #fff; }
.social li a:hover { color: #11ABB0; }


@media only screen and (max-width: 900px) {
   
    .contact-details { width: 90%; }
    .links { width: 50%; }
    #sub-hi { display: none; }
    
}

@media only screen and (max-width: 767px) {
 
    #hi { display: none; }
    .links .button {
       width: 100%;
       text-align: center;
       padding: 15px 20px;
    }
    
 }
 