/* Footer styling */
footer {
    bottom: 0;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: rgb(31, 29, 29);
}

.social li {
    display: inline-block;
    margin: 0 8px;
    padding: 0px;
    font-weight: lighter;
 }
 .social li a { color: #fff; }
 .social li a:hover { color: #11ABB0; }