.card {
    margin-top: 3rem;
    margin-bottom: 7rem;
    border: none;
    padding: 20px;
    color: white;
    background: linear-gradient(to bottom, #636364, #131212);
}

#photo-of-me {
    margin: auto;
    margin-right: 20rem;
    margin-bottom: 1rem;
    height: 20rem;
    width: 14rem;
}

a {
    color: rgb(82, 78, 78);
    font-weight: bold;
  }

