#about {
    background: hsl(0, 0%, 17%);
    padding-top: 8rem;
    padding-bottom: 66px;
    overflow: hidden;
 }

.profile-pic {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
 }

.pic-col {
   float: left;
   padding-right: 5%;
   margin-top: 5%;
 }

.main-col { 
     padding-right: 8%; 
     padding-left: 12%;
 }

@media only screen and (max-width: 900px) {
   #about { padding-top: 2rem;}

     .profile-pic {
      width: 114px;
      height: 114px;
      margin-left: 12px;
   }
}

@media only screen and (max-width: 767px) {
 
   .profile-pic { display: none; }
   .main-col { padding-right: 30px; }
}

 

 
   

