#about {
    background: hsl(0, 0%, 17%);
    padding-top: 8rem;
    padding-bottom: 66px;
    overflow: hidden;
   padding-left: 10rem;
   padding-right: 7rem;
 }

.profile-pic {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
 }

.pic-col {
   float: left;
   padding-right: 5%;
   margin-top: 5%;
 }

.main-col { 
     padding-right: 15%; 
     padding-left: 12%;
 }

@media only screen and (max-width: 900px) {
   #about { 
      padding-top: 2rem;
      padding-right: 6rem;
   }

     .profile-pic {
      width: 114px;
      height: 114px;
      margin-left: 8px;
   }
}

@media only screen and (max-width: 767px) {
   #about { 
      padding-left: 2rem;
      padding-right: 1rem;
   }
   .profile-pic { display: none; }
   .main-col { padding-right: 30px; }
}



 

 
   

